@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: black;
  --secondary-color: white;
}
html.dark {
  --primary-color: white;
  --secondary-color: #333;
}
html.dark {
  background-color: #111;
  color: var(--primary-color);
}
html {
  transition: 1s ease;
}
body {
  background-color: var(--secondary-color);
  font-family: "Heebo", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.toggle {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  pad: 8px 12px;
  position: absolute;
  top: 100px;
}
.toggle:focus {
  outline: none;
}

.clock-cont {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.clock {
  position: relative;
  width: 15rem;
  height: 15rem;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4rem;
  width: 0.1rem;
  transform-origin: bottom center;
  transition: all 1s ease-in;
}
.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
  background-color: black;
}
.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 80px;
  background-color: blue;
}
.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
  background-color: red;
}
.center-point {
  background-color: red;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.center-point::after {
  content: " ";
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.time {
  font-size: 2rem;
}

.date {
  font-size: 1.4rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.date .circle {
  display: inline-flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  justify-content: center;
  line-height: 30px;
  transition: all 0.5s ease-in;
}
